@model ControlViewModel
@{
    ViewData["Title"] = "Presenter Pane";
    ViewData["BodyClasses"] = "control";
}
<h1>Controller</h1>

<input type="hidden" id="token" value="@Model.Id" />
<span class="status">Connecting...</span>


@section Footer
{
  <div class="control-pane">
    <div id="touchpad" class="touchpad">

    </div>
    <div class="d-flex bd-highlight btn-group">
      <button type="button" class="p-2 flex-fill bd-highlight btn btn-light simple-ctrl" data-cmd="First">第一頁</button>
      <button type="button" class="p-2 flex-fill bd-highlight btn btn-light simple-ctrl" data-cmd="Prev">上一頁</button>
      <button type="button" class="p-2 flex-fill bd-highlight btn btn-primary simple-ctrl" data-cmd="Next">下一頁</button>
    </div>
  </div>
}
@section Scripts
{
    <script type="text/javascript" src="~/js/control.js" asp-append-version="true"></script>
}